<header>
    <%= render "partial/login-nav" %>
</header>

<main>
    <h3>マイページ</h3>
    
    <%= image_tag current_user.user_image.url, alt: "user-icon", class: "user-icon" %>
    <p class="mypage"><%= current_user.name %></p>
    
    
    <p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
    
</main>