<nav class="login">
    <div class="header-left">
          <a href="/"><h1><img src="/assets/logo_head.png" alt="HowHub"></h1></a>
    </div>
  
    <div class="header-right">
            <i class="fa fa-bars fa-2x fa-fw" id="open"></i>
              
            <div class="pc-menu">
                <span class="nav-link"><a href="#" class="login">ログアウト</a></span>
                <span class="nav-link"><a href="#">投稿を編集</a></span>
                <a href="#" class="register">新規投稿作成</a>
            </div>
    </div>
          
    <!--ハンバーガーメニュー-->
    <div class="overlay">
        <i class="fa fa-times fa-2x fa-fw close"></i>
        <nav>
            <ul>
                <li><a href="#">新規投稿作成</a></li>
                <li><a href="#">投稿を編集</a></li7>
                <li><a href="#">ログアウト</a></li>
            </ul>
        </nav>
    </div>
</nav>