<header>
    <%= render "partial/login-nav" %>
</header>

<main class="signup-main">
  <img class="logo" src="/assets/logo.png" alt="HouHubロゴ画像">
    
  <p class="signup-p">ノウハウを共有して<br>
      楽しく腕を磨こう！</p>
        
  <p class="done-p">ありがとうございます。お問い合わせ内容を送信しました。<br>
     頂きましたメッセージには、原則1週間以内にお返事いたします。</p>
</main>