/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 

*{
    box-sizing: border-box;
}

body{
    max-width: 1170;
    margin: 0px;
    padding: 0px;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    color: #222;
    font-size: 20px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

h1{
    margin: 0;
}

p{
    font-weight: normal;
}

.necessary{
    color: red;
}


main {
    padding-top: 60px;
    width: calc(100% - 32px);
    margin: 0 auto;
}


header{
    height: 60px;
    background-color: white;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header{
    border-bottom: 1px solid #e6e6e6;
}

.header-left{
    float: left;
}

.header-left img{
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
}

// ハンバーガー
.fa{
    float: right;
    margin: 10px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(232, 235, 238, 0.9);
    text-align: center;
    padding: 60px;
    opacity: 0;
    pointer-events: none;
}

.close{
    position: absolute;
    top: 7px;
    right: 4px;
    font-size: 45px;
    cursor: pointer;
}

#open.hide{
    display: none;
}

.overlay ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.overlay li{
    margin-top: 25px;
    font-size: 22px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li{
    opacity: 1;
    transform: none;
}

.overlay.show{
    opacity: 1;
    pointer-events: auto;
}

.overlay.show li:nth-child(1){
    transition-delay: 0.1s;
}

.overlay.show li:nth-child(2){
    transition-delay: 0.2s;
}

.overlay.show li:nth-child(3){
    transition-delay: 0.3s;
}

.overlay li a{
    color: #222;
}

.overlay a:hover{
    color: rgba(29, 192, 175, 0.8);
    transition: all 0.2s ease-in-out 0s;
}

// ハンバーガースライドアニメ
.overlay{
    transform: translateY(-200vw);
    transition: all .3s linear;
}

.overlay.is-active{
  transform: translateY(0);
}


// 検索フォーム
.search_form{
    margin: 30px 0;
    line-height: 20px;
}

.search_submit{
    line-height: 25px;
    padding: 3px 20px;
    background-color: #2ea87f;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}


/*レスポンシブPC*/
@media (min-width: 670px){
    p{
        font-weight: 600;
    }
    
    .pc-menu{
        display: block;
    }
    
    #open{
        display: none;
    }
    
    .header-right{
        text-align: right;
        line-height: 59px;
        transition:all 0.5s;
    }
    
    .header-right a{
        display: inline-block;
        padding: 0 25px;
        font-size: 17px;
        color: #222;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .header-right .register{
        color: white;
        background-color: #76807B;
    }
    
    .header-right .register:hover{
        background-color: rgba(29, 192, 175, 0.5);
    }
    
    .nav-link a:hover{
        color: #21DAC7;
    }
}


// -------------------look スマホ版----------------------------------
.card{
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}




// -------------------edit/new --スマホ版----------------------------------
.title{
    input[type="text"]{
        flex-grow: 1;
        height: 25px;
    }
    margin-top: 18px;
}

.f-headline{
    margin-bottom: -18px;
}

.form-text{
    margin-bottom: 18px;
}

.submit{
    width: 100%;
    height: 40px;
    background-color: #66cdaa;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.attention{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: -3px;
}

// -------------------edit/new --PC版----------------------------------
@media (min-width: 670px){
    p{
        font-weight: 600;
    }
    
    .pc-menu{
        display: block;
    }
    
    #open{
        display: none;
    }
    
   main{
       margin: auto;
       max-width: 1200px;
   }
   
   .submit{
        width: 200px;
        height: 65px;
        background-color: #66cdaa;
        color: #fff;
        border-radius: 5px;
        border: none;
        font-size: 22px;
        font-weight: bold;
    }
    
    .submit-btn{
        text-align: center;
    }
}


// -------------------アラート群---------------------------------------
.alert{
    background-color: #ccffcc;
    margin-top: 60px;
    margin-bottom: -60px;
    padding: 15px 25px;
}

.warning{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: red;
}

.danger li{
    list-style: none;
}

.danger{
    font-size: 16px;
    color: red;
    font-weight: normal;
}

// -------------------signup --スマホ版---------------------------------------
.signup-submit{
    width: 100%;
    height: 40px;
    background-color: #66cdaa;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.signup-main{
    text-align: center;
}

.logo{
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 30px;
}

.signup-p{
    text-align: center;
    font-size: 15px;
}

.signup-h3{
    width: 211px;
    border-bottom: 6px solid #66cdaa;
    margin: 0 auto;
}

.signup-main h3{
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-text{
    width: 100%;
}

.f-label{
    font-weight: normal;
    float: left;
}

.rules{
    color: #7f7fff;
    transition: all 0.3s ease-in-out 0s;
}

.rules:hover{
    color: #21DAC7;
}

.s-form{
    margin-bottom: 25px;
}

 .signup-submit{
     margin: 25px 0 30px 0;
 }

.login-btn{
    display: inline-block;
    width: 100%;
    line-height: 40px;
    background-color: #fff;
    color: #66cdaa;
    border: 2px solid #66cdaa;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 100px;
}

.signup-p2{
    margin-bottom: -1px;
}

// -------------------signup --PC版---------------------------------------
@media (min-width: 670px){
    .signup-main{
        text-align: center;
    }

    .form-content{
        margin: 20px 0 30px 0;
    }

    .logo{
        width: 230px;
        margin-top: 30px;
    }

  .signup-p{
        font-size: 18px;
        line-height: 23px;
    }

  .border-h3{
        display: inline-block;
        border-bottom: 6px solid #66cdaa;
    }

    .form-text{
        width: 40%;
    }

    .signup-form{
        height: 30px;
    }

    .f-label{
        float: none;
        display: inline-block;
        text-align: right;
        width: 200px;
    }

  .signup-submit{
        width: 300px;
        height: 65px;
        background-color: #66cdaa;
        color: #fff;
        border-radius: 5px;
        border: none;
        font-size: 22px;
        font-weight: bold;
    }

   .s-form{
        margin-bottom: 30px;
    }

    .signup-btn{
        text-align: center;
        margin-top: -28px;
    }

  .login-btn{
        width: 300px;
        line-height: 65px;
        background-color: #fff;
        color: #66cdaa;
        border: 2px solid #66cdaa;
        border-radius: 5px;
        font-size: 22px;
        font-weight: bold;
    }
}


// -------------------signup---------------------------------------
.login-h3{
    display: inline-block;
    border-bottom: 6px solid #66cdaa;
}

.footer-sp{
    position: fixed;
    bottom: 0;
    width: calc(100% - 32px);
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 15px;
}


// -------------------profile スマホ版---------------------------------------
.p-attention{
    margin-bottom: 20px;
}

.profile-main{
    text-align: center;
}

.user_icon{
    margin-top: 30px;
}

.profile-name{
    font-size: 23px;
    font-weight: bold;
}

.profile-text{
    font-size: 15px;
    font-weight: normal;
    width: calc(100% - 150px);
    margin: 15px auto;
}

.profile-edit{
    color: #5D5D5C;
    font-size: 13px;
    background-color: #F7F6F6;
    padding: 10px 80px;
    border-radius: 10px;
}

.profile-edit:hover{
    background-color: #E1DFDF;
    transition: all 0.3s ease-in-out 0s;
}

.profile-link{
    margin: 30px 0;
    width: 100%;
}

.p-space{
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-links{
    text-align: start;
    }
    
.my-crafts,.my-thanks{
    text-align: none;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
}

.my-crafts{
    margin-left: 45px;
}

.my-thanks{
    margin-left: 15px;
}


.my-card{
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin: -12px;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.one-card{
    display: list-item;
    margin: 12px;
}

.card-title{
    display: flex;
    max-width: 100%;
    line-height: 22px;
    font-size: 20px;
    font-weight: bold;
}

.card-name{
    display: flex;
    max-width: 100%;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
}

.card-img img{
    text-align: center;
    width: 210px;
    height: 210px;
    object-fit: cover; 
}


// -------------------profile PC版---------------------------------------
@media (min-width: 670px){
    .profile-main{
        text-align: center;
    }
    
    .user_icon{
        margin-top: 30px;
    }
    
    p{
        font-weight: 600;
    }
    
    .p-name{
        margin-top: -10px;
    }
    
    .pc-menu{
        display: block;
    }
    
    #open{
        display: none;
    }
    
    main{
        margin: auto;
        max-width: 1200px;
    }
    
    .form-content{
        margin: 20px 0 30px 0;
    }
    
    .p-image{
        margin-bottom: 5px;
    }
    
    .p-attention{
        margin: -1px 0 20px 0;
    }
    
    .submit{
        width: 200px;
        height: 65px;
        background-color: #66cdaa;
        color: #fff;
        border-radius: 5px;
        border: none;
        font-size: 22px;
        font-weight: bold;
    }
    
    .submit-btn{
        text-align: center;
    }
    
    
    
    
    .profile-name{
        font-size: 23px;
    }
    
    .profile-text{
        font-size: 17px;
        font-weight: normal;
        width: calc(100% - 250px);
        margin: 15px auto;
    }
    
    .profile-edit{
        color: #5D5D5C;
        font-size: 14px;
        background-color: #F7F6F6;
        padding: 10px 20px;
        border-radius: 10px;
    }
    
    .profile-edit:hover{
        background-color: #E1DFDF;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .profile-link{
        margin: 30px 0;
    }
    
    .p-space{
        margin: 0px auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    
    .p-links{
        text-align: start;
    }
    
    .my-crafts,.my-thanks{
        text-align: none;
        display: inline-block;
        font-size: 23px;
        line-height: 20px;
        font-weight: bold;
    }
    
    .my-crafts{
        margin-left: 45px;
    }
    
    .my-thanks{
        margin-left: 15px;
    }
    
    .my-card{
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        margin: -12px;
        list-style: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
    .card-img img{
       width: 190px;
       height: 190px;
       object-fit: cover; 
    }
    
    .one-card{
        display: list-item;
        margin: 12px;
    }
    
    .card-title{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 22px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .card-name{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 22px;
        font-size: 14px;
        font-weight: bold;
    }
    
}


// -------------------退会 スマホ版---------------------------------------
.delete-que{
    margin-top: 50px;
    font-size: 23px;
}

.delete-con{
    text-decoration: underline;
    text-decoration-color: red;
}

#btn{
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #66cdaa;
    border: 1px solid #66cdaa;
    border-radius: 5px;
    font-size: 18px;
}

.delete-btn{
    margin: 20px;
}


// -------------------退会 スマホ版---------------------------------------
.delete-con{
    font-weight: normal;
}

#btn{
    width: 200px;
    height: 65px;
    background-color: #fff;
    color: #66cdaa;
    border: 1px solid #66cdaa;
    border-radius: 5px;
    font-size: 22px;
    font-weight: normal;
}