// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// .top-container {
//     width: calc(100% - 32px);
//     margin: 0 auto;
// }


/*ヒーロー画面*/
.top-wrapper{
    background-color: #77E9DD;
    margin-top: 50px;
    padding: 60px 0 50px 0;
    text-align: center;
}

.top-wrapper .logo{
    width: 55%;
}

.desc{
    color: #737575;
    font-size: 17px;
    line-height: 2;
    margin-top: 16px;
}



/*ボタン*/
.register-btn{
    text-align: center;
    margin: 60px auto;
    
}

.btn{
    display: inline-block;
    color: white;
    font-size: 23px;
    padding: 12px 38px;
    border-radius: 8px;
    box-shadow:0 7px #2D9A97;
    opacity: 0.7;
}

.register{
    background-color: #21DAC7;
}

.btn:hover{
    opacity: 1;
}

.btn:active{
    position: relative;
    top:7px;
    box-shadow: none;
}


/*▼サービス概要部分*/
.top-info1{
    padding: 15px 20px;
    background-color: #FCFB9D;
}


.top-info1 img{
    display: block;
    margin: auto;
    width: 80%;
}

.top-info1 h2{
    font-size: 1em;
}

.top-info1 p{
    font-size: 15px;
}

.top-info2{
    padding: 15px 20px;
}


.top-info2 img{
    display: block;
    margin: auto;
    width: 70%;
}

.top-info2 h2{
    font-size: 1em;
}

.top-info2 p{
    font-size: 15px;
}


.top-info3{
    padding: 15px 20px;
    background-color: #FCFB9D;
}


.top-info3 img{
    display: block;
    margin: auto;
    width: 65%;
}

.top-info3 h2{
    font-size: 1em;
}

.top-info3 p{
    font-size: 15px;
}

.message-wrapper h3{
    text-align: center;
    margin: 80px 0 -20px 0;
}


/*フッター*/
footer{
    padding: 30px 0;
}

.footer-left img{
    width: 100px;
    margin-top: 70px;
}

.f-logo{
    width: calc(100% - 32px);
    margin: 0 auto;
}

.footer-left ul{
    padding: 0;
    border-top: 1px solid #e6e6e6;
}

.footer-left li{
    list-style: none;
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 4.4;
}

.footer-left  li a{
    display: inline-block;
    padding: 0 4%;
    color: #222;
}

.footer-left a:hover{
    opacity: 0.6;
}

.footer-right{
    width: calc(100% - 32px);
    margin: 0 auto;
    font-weight: normal;
    font-size: 12px;
}

.pc-menu{
    display: none;
}


/*レスポンシブPC*/
@media (min-width: 670px){
    .top-wrapper{
        background-color: #77E9DD;
        padding: 90px 0;
        text-align: center;
    }
    
    .top-wrapper .logo{
        display: inline-block;
        vertical-align: middle;
        width: 370px;
    }
    
    .top-wrapper h1{
        display: inline-block;
        margin-left: 80px;
        color: #737575;
        font-size: 25px;
    }
    
    
    /*メイン部分*/
    .main section{
        display: flex;
    }
    
    .top-info2 section{
        flex-direction: row-reverse;
    }
    
    .main section{
        max-width: 1170px;
        margin: 0 auto;
    }
    
    .in-desc{
        margin-top: 60px;
    }
    
    .top-info1 .pic{
        padding: 20px;
    }
    
    .top-info1 img{
        width: 100%;
    }
    
    .main h2{
        font-size: 1.3em;
    }
    
    
    
    /*フッター*/
    footer{
        margin: 0 auto;
        padding: 30px 0 0 30px;
        align-items: flex-end;
    }
    
    .footer-left{
        display: inline;
    }
    
    .footer-left ul{
        border-top: 0;
        margin: 0;
    }
    
    .footer-left li{
        display: inline;
        border-bottom: 0;
        padding: 0;
        font-size: 15px;
    }
    
    .footer-left  li a{
        display: inline;
        padding: 0 2% 0 1%;
    }
    
    footer .f-nav{
        margin: 0;
        padding: 0;
    }
    
    .footer-right small{
        float: right;
        padding: 0 20px 30px 0;
    }
    
    footer .footer-right{
        position: relative;
    }
    
}

